
.credit {
  margin-top: 40px;
}

.expire-inputs {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mm, .yy {
  width: 80px;
  display: inline-block;
}

h3 {
  text-align: center;
}
#map {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTjs50jBSbeQCn-Uy0t3HA_RwcuLvLCmSXd853tZ6W4q7lP7MJh);
  background-size: auto;
  background-repeat: no-repeat;
  height: 100px;
  width: 200px;
}

input:invalid {
  background-color: #ffdddd;
}
